<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/common.css">
    <link rel="stylesheet" href="/stylesheets/message.css">
    
  </head>
  <body>
    <!-- <!-- =普通输出 - -输出-> -->
    <%- include("./header/header-sample.ejs") %>
    
    <%- include("./form/sample.ejs") %>
  </body>
  <script src="/javascripts/jquery.min.js"></script>
  <script src="/javascripts/message.min.js"></script>  
  <script src="/javascripts/login.js"></script>
  <script src="/javascripts/jquery-cookie.js"></script>
</html>
